.App {
    text-align: center;
}

span.gray-background {
    background: #808080;
    color: #fff;
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
}

.table-header-filters {
    justify-content: flex-end;
    display: inline-flex;
    align-self: center;
}

.table-header > div {
    flex: 50%;
}

.table-header {
    display: flex;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-logo-paused {
    animation-play-state: paused;
}

.App {
    text-align: center;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}
/* new class here */
.App-logo-paused {
    animation-play-state: paused;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-link {
    color: #61dafb;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
