body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.body-form {
    display: flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    padding-top: 15px;
}

.body-form > div {
    margin-bottom: 15px;
}

.body-form > div > input {
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #ec2227;
}

.body-form input.btn-send {
    background-color: #008000;
    color: #fff;
    border: 1px solid #008000;
}

.body-form > div > input[type="button"] {
    background-color: #ec2227;
    color: #fff;
}

.body-form > div > textarea {
    width: 395px;
    border: 1px solid #ec2227;
    resize: vertical;
    max-height: 350px;
}

body {
    margin: 0;
}

.header-menu > ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: inline-flex;
    align-self: center;
}

.header-menu {
    height: 75px;
    display: flex;
    padding-left: 15px;
    background-color: #adadad;
}

.header-menu > ul > li > a {
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.header-menu > ul > li {
    align-self: center;
}

.header-menu > ul > li > img {
    width: 250px;
}

.header-menu > ul > li > a:hover {
    color: #ec2227;
}
